{{ define "main" }}
<div class="article-wrap">
  <a href="/" class="back-to-top">← TOP</a>
  <h1 class="article-title">{{ .Title }}</h1>
  <time class="article-date">{{ .Date.Format "2006.01.02" }}</time>
  {{ if .Params.affiliate }}
  <p class="affiliate-notice">※本記事にはアフィリエイトリンクを含みます</p>
  {{ end }}
  {{ if .Params.description }}
  <p class="article-summary">{{ .Params.description }}</p>
  {{ end }}
  {{ $toc := .TableOfContents }}
  {{ if ge (len (findRE "<li>" $toc)) 2 }}
  <div class="toc">
    <p class="toc-title">目次</p>
    {{ $toc }}
  </div>
  {{ end }}
  <div class="article-content">
    {{ .Content }}
  </div>
  <a href="/" class="back-to-top back-to-top--bottom">← TOP</a>
</div>
{{ end }}
